/* css styles */
body {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto; /* Center the content horizontally */
  
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
  line-height: 1.4
}

a {
  color: #9370db;
  text-decoration: underline
}

