/*-- scss:defaults --*/
// Define colors and variables
$black: #000000 !default; 
$gray: #a69eb0 !default; 
$cream: #f5f7fa !default; 
$periwinkle: #ecedf5 !default;
$light-blue: #efeff2 !default;
$dark-gray: #474747 !default;
$mint-cream: #f5fffa !default;

// Gradient background colors
$gradient-start: #f5f7fa !default;
$gradient-end: #c3cfe2 !default;

/*-- scss:rules --*/
// Base document styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.6;
  margin: 0 auto;
  background: linear-gradient(135deg, $gradient-start 0%, $gradient-end 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $dark-gray;
  min-height: 100vh;
}

main {
  flex-grow: 1; /* Allow the main content to grow and push the footer down */
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3, h4 {
  font-size: 22px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

/* Navbar styles */
.navbar {
  font-size: 20px;
  background-color: $cream; /* Background color for navbar */
  color: $dark-gray; /* Set text color to dark gray */

  /* Ensure that links inside navbar also have dark gray text */
  .navbar-nav .nav-link,
  .navbar-brand {
    color: $dark-gray !important; /* Force text color for links and brand name */
  }
  
    /* On hover, change the text color to $gray */
  .navbar-nav .nav-link:hover,
  .navbar-brand:hover {
    color: $gray !important; /* Change color on hover to $gray */
  }
}

// Resize logo (top left corner)
.navbar-brand img { 
  max-height: 50px;
  width: auto;
}

/* Custom styles for panel tabset */
.panel-tabset {
  border: 1px solid transparent;
  padding: 10px;
}

.panel-tabset .tab-content {
  border: 1px solid transparent;
}

/* Footnotes */
[id^="footnote"] {
  font-size: 0.6em;
  word-wrap: break-word;
}

.hidden-header {
  visibility: hidden;
}

/* Footer styles */
footer {
  background-color: #c3cfe2; 
  color: black;
  text-align: center;
  padding: 10px; 
  width: 100%;
  box-sizing: border-box;
  position: relative;
  margin-top: 0;
  margin-bottom: 0; 
}

