/*-- scss:defaults --*/

// Colours
$black: #000000 !default; 
$gray: #a69eb0 !default; 
$cream: #f2e2cd !default; 
$periwinkle: #dadae3 !default;
$light-blue: #efeff2 !default;
$dark-gray: #474747 !default;

// Base document colors
$navbar-bg: $gray; 
$navbar-fg: $dark-gray; 
$navbar-hl: $periwinkle; 
$body-bg: $cream;
$body-color: $dark-gray;
$footer-bg: $gray; 
$link-color: #9370db;

/* ELEMENT SELECTORS */

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 20px;
  line-height: 1.45
}


body {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 auto;
  
}

/* Navbar Text Styles */
.navbar {
  font-size: 20px;
}

// resize logo (top left corner)
.navbar-brand img { 
  max-height: 50px;
  width: auto;
}

/* Custom Styles for Panel Tabset */
.panel-tabset {
  border: 1px solid transparent;
  padding: 10px;
}

/* Custom Styles for Panel Tab Content */
.panel-tabset .tab-content {
  border: 1px solid transparent;
}

